{{ define "modules/user/html/register" }}
	{{ template "templates/layouts/html/head" .}}
	{{ template "templates/layouts/html/navbar" .}}
	{{ template "templates/layouts/html/header" .}}

    <!-- Begin Form
	================================================== -->
	<div class="col-md-12 col-md-offset-2 col-xs-12">
		<div class="auth">
			<div class="auth-triangle"></div>

			<h2 class="auth-header">Register</h2>

			<form class="auth-container" method="POST" action="/register">
				<p>
					<label for="name">Name</label>
					<input type="text" id="name" name="name" placeholder="Name" value="">
					<span class="text-danger">{{ .ERRORS.name }}</span>
				</p>
				<p>
					<label for="email">Email</label>
					<input type="email" id="email" name="email" placeholder="Email" value="">
					<span class="text-danger">{{ .ERRORS.email }}</span>
				</p>
				<p>
					<label for="password">Password</label>
					<input type="password" id="password" name="password" placeholder="Password">
					<span class="text-danger">{{ .ERRORS.password }}</span>
				</p>
				<p><button type="submit">Register</button></p>
			</form>
			<p class="text-center">Or <a href="/login">Login</a></p>
		</div>
	</div>
<!-- End Form
================================================== -->

	{{ template "templates/layouts/html/footer" .}}

{{ template "templates/layouts/html/foot" .}}

{{ end }}