{{ define "modules/article/html/show" }}
	{{ template "templates/layouts/html/head" .}}
	{{ template "templates/layouts/html/navbar" .}}
	{{ template "templates/layouts/html/header" .}}

	
<!-- Begin Article
================================================== -->
<div class="container">
	<div class="row">

		<!-- Begin Post -->
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="mainheading">

				<!-- Begin Top Meta -->
				<div class="row post-top-meta">
					<div class="col-md-2">
						<a href="#"><img class="author-thumb" src="{{ .article.User.Image }}" alt="{{ .article.User.Name }}"></a>
					</div>
					<div class="col-md-10">
						<a class="link-dark" href="#">{{ .article.User.Name }}</a>
						<span class="post-date">{{ .article.CreatedAt }}</span><span class="dot"></span><span class="post-read">6 min read</span>
					</div>
				</div>
				<!-- End Top Menta -->

				<h1 class="posttitle">{{ .article.Title }}</h1>

			</div>

			<!-- Begin Featured Image -->
			<img class="featured-image img-fluid" src="{{ .article.Image }}" alt="">
			<!-- End Featured Image -->

			<!-- Begin Post Content -->
			<div class="article-post">
				{{ .article.Content }}
			</div>
			<!-- End Post Content -->

		</div>
		<!-- End Post -->

	</div>
</div>
<!-- End Article
================================================== -->
	
	{{ template "templates/layouts/html/footer" .}}
	{{ template "templates/layouts/html/foot" .}}

{{ end }}