{{ define "modules/home/html/home" }}
	{{ template "templates/layouts/html/head" .}}
	{{ template "templates/layouts/html/navbar" .}}
	{{ template "templates/layouts/html/header" .}}


	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>Featured</span></h2>
	</div>
	<div class="card-columns listfeaturedtag">
		{{ range .featured.Data }}
		<!-- begin post -->
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="/articles/{{ .ID }}">
						<div class="thumbnail" style="background-image:url({{.Image}});">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="/articles/{{ .ID }}">{{ .Title }}</a></h2>
						<h4 class="card-text">{{ .Content }}</h4>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="#"><img class="author-thumb" src="{{ .User.Image }}" alt="{{ .User.Name }}"></a>
								</span>
								<span class="author-meta">
								<span class="post-name"><a href="#">{{ .User.Name }}</a></span><br/>
								<span class="post-date">{{ .CreatedAt }}</span><span class="dot"></span><span class="post-read">6 min read</span>
								</span>
								<span class="post-read-more"><a href="#" title="Read Story"></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end post -->
		{{ end }}
	</div>
	</section>
	<!-- End Featured
	================================================== -->

	<!-- Begin List Posts
	================================================== -->
	<section class="recent-posts">
	<div class="section-title">
		<h2><span>All Stories</span></h2>
	</div>
	<div class="card-columns listrecent">
		{{ range .stories.Data }}
		<!-- begin post -->
		<div class="card">
			<a href="/articles/{{ .ID }}">
				<img class="img-fluid" src="{{ .Image }}" alt="{{ .Title }}">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="/articles/{{ .ID }}">{{ .Title }}</a></h2>
				<h4 class="card-text">{{ .Content}}</h4>
				<div class="metafooter">
					<div class="wrapfooter">
						<span class="meta-footer-thumb">
						<a href="#" src="{{ .User.Image }}" alt="{{ .User.Name }}"></a>
						</span>
						<span class="author-meta">
						<span class="post-name"><a href="#">{{ .User.Name }}</a></span><br/>
						<span class="post-date">{{ .CreatedAt}}</span><span class="dot"></span><span class="post-read">6 min read</span>
						</span>
						<span class="post-read-more"><a href="#" title="Read Story"></a></span>
					</div>
				</div>
			</div>
		</div>
		<!-- end post -->
		{{ end }}
	</div>
	</section>
	<!-- End List Posts
	================================================== -->
</div>
	{{ template "templates/layouts/html/footer" .}}

{{ template "templates/layouts/html/foot" .}}

{{ end }}